html{
    background-color: burlywood;
}
body{
    font-family: Arial,verdana,sans-serif;

}
#underline{
    text-decoration: underline;
}
a{
    text-decoration: none;
}
header{
    height: 20%;
    width: 100%;
    background-color: aquamarine;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 1%;

}
#central{
    text-align: center;
}
#formulario{
    position:fixed;
    bottom: 0;
}
#sub{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
#casas,#pers,#mapa{
    width:30%;
    height:50%;
}

h1{
    font-size: 1.5rem;
}
h3{
    font-size: 1rem;
}

ul{
    font-size: 20px;
    
}
@media (max-width: 600px) {
    html {
      font-size: 10px;
    }
}
#casas1{
    width:49.5%;
    background-color: gold;
    border-radius: 20px;


}
#lemasy{
    width:49.5%;
    text-align: center;
    background-color: rgba(255, 204, 0, 0.891);
    border-radius: 20px;
}
#casasSUB{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
#persSUB{
    height:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
span{
    background-color: lightgoldenrodyellow;
}
#mapa2{
    width: 50%;
    height:50%;
    
}
#texto{
    width: 50%;
    height:50%;  
    background-color: aqua;
}
SPAN1{
    background-color: lightskyblue;
}
SPAN2{
    background-color: gold;
}
#Perso{
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#c{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    

}
#c1,#c2,#c3,#c4,#c5,#c6{
    width:100%;
    height:33%;
    text-align: center;
    margin-bottom: 1%;
    border-radius: 5%;
}
#c1{

    background-color: red;   
}     
span3{
    background-color: rgb(234, 255, 0);
}              
#c2{

    background-color: gold;
}
span4{
    background-color: red;
}
#c3{

    background-color: grey;
}
#c4{
    background-color: white;

}
span5{
    background-color: grey;
}
#c5{
    background-color: darkgreen;

}
span6{
    background-color: lightgreen;
}
#c6{
    background-color: whitesmoke;
}
span7{
    background-color: lightskyblue;
}
#GRACIAS{
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
    font-size: 8rem;
}